<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>300658130261-0bfrtbbncjt1pf7hqkee3bvfal7b0kql.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.300658130261-0bfrtbbncjt1pf7hqkee3bvfal7b0kql</string>
	<key>API_KEY</key>
	<string>AIzaSyCPGqE3gqvmqLdA-Rzx9wwBxVQlYdS28Ow</string>
	<key>GCM_SENDER_ID</key>
	<string>300658130261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.appbrewery.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>a-flash-chat-ios13</string>
	<key>STORAGE_BUCKET</key>
	<string>a-flash-chat-ios13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:300658130261:ios:737ef5ed05ec25abb683dc</string>
</dict>
</plist>